/* saludar.css */
.contenedorFormulario {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: hsl(195, 89%, 28%);
}
body{
  font-family: Arial, Helvetica, sans-serif;
}

.form-container {
  display: flex;
  width: 70%;
  max-width: 1000px;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.form-image {
  flex: 1;
  background: url('/public/login.jpg') no-repeat center center;
  background-size: cover;
  width: 5rem;
  position: relative;
}

.image-text {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  color: #fff;
  font-size: 24px;
  text-align: center;
  font-weight: bold;
}

.form-content {
  flex: 1;
  padding: 40px;
  background-color: #1b3b70;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.titulos {
  font-size: 32px;
  margin-bottom: 20px;
  text-align: center;
  color: #fff;
}

input[type="text"],
input[type="password"] {
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  border: none;
  border-radius: 5px;
  color: #333;
}

input::placeholder {
  color: #504f4f;
}

button.button {
  width: 90%;
  padding: 10px;
  background-color: #fff;
  color: #1b3b70;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-left: 15px;
}

button.button:hover {
  background-color: #ddd;
}

a {
  color: #fff;
  text-align: right;
  display: block;
  margin-bottom: 20px;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.recuperar{
  margin-right: 100px;
 
}

fieldset {
  border-radius: 5px;
}
.nombre{
  text-align: center;
  font-size: 22px;
  margin-bottom: -1rem;
}


